@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Tstar Pro Headline';
  src: url('./../public/fonts/T-StarPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CentraleSansRegular';
  src: url('./../public/fonts/CentraleSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --oke-widget-spaceAbove: 20px;
  --oke-widget-spaceBelow: 20px;
  --oke-starRating-spaceAbove: 0;
  --oke-starRating-spaceBelow: 0;
  --oke-button-backgroundColor: #f7f7f8;
  --oke-button-backgroundColorHover: #f4f4f6;
  --oke-button-backgroundColorActive: #676986;
  --oke-button-textColor: #272d45;
  --oke-button-textColorHover: #272d45;
  --oke-button-textColorActive: #fff;
  --oke-button-borderColor: #dbdde4;
  --oke-button-borderColorHover: #dbdde4;
  --oke-button-borderColorActive: #676986;
  --oke-button-borderRadius: 4px;
  --oke-button-borderWidth: 1px;
  --oke-button-fontWeight: 700;
  --oke-button-fontSize: var(--oke-text-regular, 14px);
  --oke-button-fontFamily: inherit;
  --oke-border-color: #e5e5eb;
  --oke-border-width: 1px;
  --oke-text-primaryColor: #2c3e50;
  --oke-text-secondaryColor: #676986;
  --oke-text-small: 12px;
  --oke-text-regular: 14px;
  --oke-text-large: 20px;
  --oke-text-fontFamily: inherit;
  --oke-avatar-size: 48px;
  --oke-avatar-backgroundColor: #e5e5eb;
  --oke-avatar-placeholderTextColor: #2c3e50;
  --oke-highlightColor: #0e7a82;
  --oke-shadingColor: #f7f7f8;
  --oke-productImageSize: 48px;
  --oke-attributeBar-shadingColor: #9a9db1;
  --oke-attributeBar-borderColor: undefined;
  --oke-attributeBar-backgroundColor: #d3d4dd;
  --oke-attributeBar-markerColor: #00caaa;
  --oke-filter-backgroundColor: #fff;
  --oke-filter-backgroundColorActive: #676986;
  --oke-filter-borderColor: #dbdde4;
  --oke-filter-borderColorActive: #676986;
  --oke-filter-textColor: #2c3e50;
  --oke-filter-textColorActive: #fff;
  --oke-filter-borderRadius: 100px;
  --oke-filter-searchHighlightColor: #b2f9e9;
  --oke-mediaGrid-chevronColor: #676986;
  --oke-stars-foregroundColor: #62554a;
  --oke-stars-backgroundColor: #e5e5e5;
  --oke-stars-borderWidth: 0;

  --font-primary: "Tstar Pro Headline", sans-serif;
    --font-secondary: "Tstar Pro Bold", sans-serif;
    --font-tertiary: "Centra No1 Book", sans-serif;
    --font-quaternary: "Centra No1 Bold", sans-serif;
    --font-quinary: "Roboto Mono", sans-serif;
    --text-p: "Centra No1 Book", sans-serif;
}
:host, :root {
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
}
*, :after, :before {
  border: 0 solid #b6b1ad;
  box-sizing: border-box;
}
.font-primary {
  font-family: 'Tstar Pro Headline', sans-serif;
  font-weight: 600;
}
.text-xl {
  font-size: 1.25rem;
}
.\!bg-grayLighter {
  --tw-bg-opacity: 1 !important;
  background-color: #faf8f5 !important;
  background-color: rgba(250,248,245, 1) !important;
}
.font-quinary {
  font-family: Roboto Mono, sans-serif;
  font-optical-sizing: auto;
  letter-spacing: .04em;
  line-height: 1.16;
}
p, sub {
  font-family: 'CentraleSansRegular';
}
.text-brown {
  --tw-text-opacity: 1;
  color: #2d2a26;
  color: rgba(45, 42, 38, var(--tw-text-opacity, 1));
}
.font-primary, .font-secondary {
  letter-spacing: .04em;
  line-height: 1;
  /* text-transform: uppercase; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default body styles */
body {
  @apply m-0 leading-[1.15];
}

.home-container{
  @apply max-w-[1260px] m-auto
}
/* Main container styling */
.main-container {
  @apply flex flex-col relative h-full bg-white py-3;
}

/* Items container styling */
.items-container {
  @apply max-w-[3000px] flex justify-center items-center xl:max-w-[3000px] overflow-x-hidden;
}

/* Image Grid Container */
.image-grid-container {
  @apply max-w-[1280px] mx-auto px-4 bg-transparent overflow-x-hidden;
}

.image-grid {
  @apply grid gap-4 grid-cols-[repeat(auto-fill,_minmax(100px,_1fr))];
}

/* Horizontal Image Slider */
.horizontal-image-slider {
  @apply flex gap-4 overflow-x-auto ;
}

.horizontal-image-slider::-webkit-scrollbar {
  @apply hidden;
}

/* Horizontal Card List */
.horizontal-card-list {
  @apply flex gap-0 overflow-x-auto pb-2;
}

.horizontal-card-list::-webkit-scrollbar {
  @apply hidden;
}

/* Card styles */
.card {
  @apply bg-white transition-transform duration-200  shadow-[2px_2px_8px_rgba(0,0,0,0.04)];
  text-align: inherit !important;
}
/* .card:not(:first-child){
  @apply border-[0.5px]
} */
/* .card:first-child{
  @apply border-[0.5px] border-r-0
}
.card:last-child{
  @apply border-[0.5px]
} */
.card-content{
  @apply flex flex-col px-3 items-center   h-full 
}
.card-details{
  @apply flex-1 flex flex-col gap-2 w-full
}
.card-eta{
  @apply bg-gray-200 px-1 py-[2px] text-[9px] w-fit rounded-sm font-medium
}
.card-titles{
  @apply flex-1 flex flex-col
}
.card-unit{
  @apply flex-1 text-[14px] mt-1 font-extralight
}
.card-title{
  @apply line-clamp-2
}
.card-title,.card-price{
  @apply text-[13px] font-medium
}
.card-unit{
  /* @apply mb-2 */
}
.card-footer{
  @apply flex flex-1 justify-between text-center items-center py-3
}
.card-button{
  @apply px-5 py-2 bg-[rgba(240,253,244,0.5)] border text-[12px] border-green-600 rounded-md text-green-700 font-medium
}
/* Product details */
.horizontal-card-list:has(.slidecard){
  @apply gap-2
}
.slidecard{
  @apply min-w-fit
}
.slidecard .card-content{
  @apply p-1
}
/* Section styling */
.section {
  @apply mt-6 ;
}

.section-title {
  @apply text-xl font-bold mb-4 text-gray-800;
  color: rgb(28, 28, 28);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

/* Banner container */
.banner-container {
  @apply mb-6 w-full max-w-[1280px] overflow-x-hidden;
}

/* Image styles */
img {
  @apply max-w-full h-auto block;
}

.text-primary {
  --tw-text-opacity: 1;
  /* color: #2d2a26; */
  color: rgba(45, 42, 38, var(--tw-text-opacity, 1));
}
.text-secondary {
  color: #986b58;
}
